.clientes-container
	h1 Clientes
	.clientes-content
		.cliente-container
			.cliente-content
				img(src="img/clientes/pemex.jpg")
		.cliente-container
			.cliente-content
				img(src="img/clientes/pdvsa.jpg")
		.cliente-container
			.cliente-content
				img(src="img/clientes/tamaulipas.png")
		.cliente-container
			.cliente-content
				img(src="img/clientes/evya.png")
		.cliente-container
			.cliente-content
				img(src="img/clientes/veritas.png")
		.cliente-container
			.cliente-content
				img(src="img/clientes/upch.jpg")
		.cliente-container
			.cliente-content
				img(src="img/clientes/laventa.jpg")